h1{
    text-align: center;
}
h6{
    text-align: center;
}
p{
    text-align: center;
    color: aliceblue;
}
button{
    text-align: center;
}
footer{
    text-align: center;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;

}
body{
    background-color: rgb(39, 55, 126);
    color: aliceblue;
}
#div1{
    text-align: center;
}
div{
    text-align: center;
}
fieldset{
   width: 400px;
    height: 300px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(223, 219, 182);
}
#a{
    width: 200px;
    height: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#b{
    width: 200px;
    height: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#c{
    width: 200px;
    height: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
#d{
    width: 200px;
    height: 30px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
footer{
    text-align: center;
}